.container{
    position: absolute;
    left: 20%;
    top: 5%;
    content:"";
    text-align:center;
    display:inline-block;
    width:auto;
    padding-top:64px;
    padding-bottom:64px!important;
}

.flex-container{
    margin: 1px;
}

.flex-container>div{
    display: inline;
    align-items: center;

    width: 400px;
    margin: 1px;
}

.opacity{
    opacity:0.60
}
.justify{
    text-align:justify
}


.img-box{
    max-width: 200px;
    max-height: 400px;
}